/* ESTILOS GERAIS*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}

.btn{
    border: 3px solid #fec63e;
    color: #fec63e;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}


.btn:hover {
    color: #fff;
    border: 3px solid #fff;
}

.btn.btn-preto:hover{
    color: #000;
    border-color:#000;
    
}

.subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitle:after {
    content:"" ;
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}
/* HEADER */

.header {
    position: fixed;
    top: 0;
    width:  100%;
    background: #fec63e;
    padding: 15px 0;
    z-index: 1; 
}

.header_menu {
    text-align: right;
    
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
   
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}
.header_menu ul li a:hover {
    color: #fff;
}

/* INTRODUÇÃO */

.introducao {
    width: 100%;
    height: 380px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 96px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1{
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo{
    color: #fff;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.quote-externo p{
   font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{
    content:"" ;
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto;
 }
 
.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
 }


 /* PRODUTOS */
.produtos{
    padding: 60px 0;
    text-align: center;

}

.produtos-lista li {
    background-color: #fec63e;
   
}
.produtos-lista li h3{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.produtos-lista li h3:after{
    content:"" ;
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.produtos-lista li p{
    padding: 10px 20px 20px 20px;
}

.produtos-lista-icone{
    background-color: #000;
    padding: 20px; 
}

.call-to-action {
    padding-top: 40px;
    clear: both;
}

.call-to-action  p{
   margin-bottom: 20px;
}

/* PORTFÓLIO */

.portfolio{
    width: 100%;
    background-color: #000;
    padding: 40px 0;
}

.portfolio .subtitle {
    color: #fec63e;
}
.portfolio .subtitle:after {
    background-color: #fec63e;
}

.portfolio-lista li:last-child {
    margin-top: 20px;
}

.portfolio .call-to-action {
    text-align: center;
}
.portfolio .call-to-action p {
    color: #fff;
}